body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    box-sizing: border-box;
}

header, nav, section, aside, footer {
    background-color: #ebebeb;
    text-align: center;
    margin: 10px;
    padding: 25px;
}

section {
    width: 495px;
    box-sizing: border-box;
    float: left;
    padding: 25px 10px;
}

article {
    color: #ebebeb;
    background-color: #777;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

aside {
    width: 425px;
    /*height: 295px;*/
    padding-bottom: 250px;
    box-sizing: border-box;
    float: right;
}

h1, p {
    color: #777;
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

footer {
    clear: both;
}
/*
3. The widths of each section should be:
   * section: 495px
   
* Don't forget to review these concepts: `float`, `padding`, `margin`, `display`, `overflow`, `clear` and `text-align`.
*/